# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/storybook-static

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

*storybook.log

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# ---- Django/Wagtail Specific Ignores ----
/wagtail/env

# Python compiled files and caches
*.py[cod]
__pycache__/

# SQLite database file (if applicable)
# db.sqlite3 # todo: ignore later.

# Uploaded media files (if handled locally)
media/

# Local settings, which may contain sensitive information
local_settings.py
local.py

# IDE directories
.vscode/
.idea/