.container {
    display: grid;
    grid-template-columns: $grid 1fr $grid;
    padding-top: 30px;

    @include media-query(medium) {
        grid-template-columns: $grid * 3 1fr $grid * 3;
    }

    @include media-query(large) {
        grid-template-columns: $grid * 6 1fr $grid * 6;
        padding-top: $grid * 6;
    }
}

.sidebar {
}

.content {
}
