@use 'variables' as *;

.hero {
    margin-bottom: 0;

    @include media-query(medium) {
        margin-bottom: $grid * 2;
    }

    @include media-query(large) {
        margin-bottom: $grid * 2;
    }
}

.title {
    @include h1();
}

.description {
    @include font-size(m);
    max-width: $max-content-width;
    margin-bottom: $grid * 1;

    @include media-query(medium) {
        margin-bottom: $grid * 2;
    }
}

.mapDescription {
    @include font-size(m);
    max-width: 65ch;
    margin-bottom: 0;

    @include media-query(medium) {
        margin-bottom: 0;
    }
}

.groupFilterTitle {
    @include font-size(m);
    margin-bottom: $grid;
    font-weight: 700;
}

.groupTagsContainer {
    display: flex;
    flex-direction: row;
    gap: $grid;
    flex-wrap: wrap;
}

.groupFilterOptionsContainer {
    display: flex;
    gap: $grid * 2;
    flex-direction: column;
}

.groupTagFilter {
    @include focus-outline();
    display: flex;
    align-items: baseline;
    gap: $grid * 0.5;

    &__checkbox {
        @include focus-outline();
        width: 16px;
        height: 16px;
    }

    &__label {
        text-decoration: underline;
        text-wrap: nowrap;

        &:hover {
            cursor: pointer;
        }
    }
}

.clearSelectedTagsButton {
    @include focus-outline();
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 8px 12px;
    background-color: var(--color--dark-gray);
    color: var(--color--white);
    font-weight: 450;

    @include media-query(medium) {
        max-width: 180px;
    }

    &:hover {
        background-color: var(--color--black);
    }
}

.link {
    @include focus-outline();
    @include highlight-link();
    color: var(--color--black);
}

.filterAccordion {
    margin-bottom: $grid * 2;
    max-width: $max-content-width;
}

.filterAccordionToggle {
    @include focus-outline();
    @include font-size(sm);
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $grid * 0.5;
    background-color: var(--color--dark-green);
    color: var(--color--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
        color: var(--color--black);
        background-color: var(--color--disabled-green);
    }

    &:hover .filterIcon {
        transform: translateY(2px);
    }

    @include media-query(medium) {
        padding: $grid * 0.5 $grid;
    }
}

.filterIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;

    @include media-query(medium) {
        width: 32px;
        height: 32px;
    }
}

.filterContent {
    padding: $grid 0;

    @include media-query(medium) {
        padding: $grid * 2 0 0 0;
    }
}

.callToAction {
    @include font-size(sm);
    border: 1px solid var(--color--dark-green);
    background-color: var(--color--bright-white);
    border-radius: $border-radius;
    padding: $grid;
}
