@use 'variables' as *;

.details {
    @include font-size(s);
    padding: $grid;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: $border-radius;
    background-color: var(--color--bright-white);
    margin-bottom: auto;
    max-width: 600px;

    box-shadow: $box-shadow;

    @include media-query(medium) {
        padding: $grid + 10px;
    }

    &__icon {
        flex-shrink: 0;

        path {
            fill: var(--color--text);
        }

        @include media-query(medium) {
            height: 27px;
            width: 27px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;

        p {
            color: var(--color--text);
            margin: -1px 0 0 0;
        }
    }
}

.locationContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.googleMapsLink {
    margin-top: 0;
    text-decoration: underline;

    &:hover {
        color: var(--color--black);

        svg {
            transform: translate(0.2ex, -0.2ex);
        }
    }

    svg {
        width: 1.8ex;
        height: 1.8ex;
        margin: 0.4ex 0 0 0.2ex;

        transition: transform $transition;
    }
}

.externalLink {
    @include external-button-link();
}
