.container {
    @include main-grid;

    padding-top: $grid * 2;
    padding-bottom: $grid * 2;
    background-color: var(--color--grey-80);

    @include media-query(large) {
        padding-top: $grid * 4;
        padding-bottom: $grid * 4;
    }
}

.description {
    @include font-size(s);

    font-weight: 400;
    margin-bottom: $grid / 2;
    color: var(--color--green-05);
}

.link {
    @include focus-outline-inverse;
    @include font-size(s);

    font-weight: 400;
    margin-top: $grid;
    color: var(--color--green-20);

    &:hover {
        color: var(--color--grey-80);
        text-decoration: underline;
        text-decoration-color: var(--color--green-20);
    }
}
