.container {
    :global(.leaflet-container) {
        border-radius: $border-radius;
        width: 100%;
        height: 90vh;
    }
}

.popupTitle {
    @include font-size(s);
    @include highlight-link();
    font-weight: 500;

    a {
        color: var(--color--text);
    }
}

.popupText {
    @include font-size(xs);
    margin: $grid * 0.25 0;
}

.eventLink {
    :global(.leaflet-container) & {
        color: var(--color--white);
    }

    @include external-button-link();

    font-size: 1.125rem;
    font-weight: 450;
}
